{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}
{% include head-citations.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

{% assign tr_url = page.url | remove_first: '/en' %}
{% if tr_url == '' %}{% assign tr_url = '/' %}{% endif %}
<link rel="alternate" hreflang="tr" href="{{ site.url }}{{ tr_url }}" />
<link rel="alternate" hreflang="en" href="{{ site.url }}/en{{ tr_url }}" />
<link rel="alternate" hreflang="x-default" href="{{ site.url }}{{ tr_url }}" />

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- Alpine.js Plugins -->
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
<!-- Alpine.js Core -->
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

<!-- Umami Analytics -->
<script defer src="https://cloud.umami.is/script.js" data-website-id="2af416e5-4b5b-4a1f-8b6d-3a1107db1ed3"></script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<meta http-equiv="cleartype" content="on">